HomeWork #1/Library
 
HomeWork #1/Temp

*.meta


HomeWork #1/[Ll]ibrary/
HomeWork #1/[Tt]emp/
HomeWork #1/[Oo]bj/
HomeWork #1/[Bb]uild/
HomeWork #1/[Bb]uilds/
HomeWork #1/[Ll]ogs/
HomeWork #1/[Mm]emoryCaptures/
HomeWork #1/Logs/
